{% extends 'layout/base.html.twig' %}

{% block content %}
    <h1 class="page-header">タスク</h1>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">タスク編集</div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
  　　　　　　　　　       <li role="presentation">
                            <a href="/">戻る</a></li>
                    </ul>

                        <div class="panel-body">
                            <p>登録完了しました。</p>
                        </div>


                </div>
            </div>

        </div>
    </div>
{% endblock %}
